<!DOCTYPE html>
<html lang="en">
{% include "devops/main.html" %}

<script type="text/javascript">
$(document).ready(function(){
  $("#selbrand").change(function(){
    $("#test_p").text($("#selbrand").val())
  });
  $("#test_p").text($("#selbrand option:selected").val())
});
</script>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>TOMCAT HANDLER</h1>
        <form method="POST" action="">
          {% csrf_token %}

          <div class="form-group">
            <label class="control-label" for="selbrand">Brand</label>
            <select class="form-control" id="selbrand" name="selbrand">
              {% for brand in brands %}
              <option>{{ brand }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label class="control-label" for="selhost">Host</label>
            <select class="form-control" id="selhost" name="selhost">
              {% for host in hosts %}
              <option>{{ host }}</option>
              {% endfor %}
            </select>
            <p id="test_p"></p>
          </div>

          <div class="form-group">
            <label class="control-label" for="cmd">Command</label>
            <input type="text" class="form-control" id="cmd" placeholder="Enter cmd" name="cmd" value=''>
          </div>

          <button type="submit" class="btn btn-primary" name="run" value="Click">run</button>
        </form>
        {{ stdout }}
      </div>

    </div>
  </div>
</html>
