
<head>
	<title>classmate</title>
	<meta charset="utf-8" />

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'devops/css/bootstrap.min.css' %}" />
	<link href="{% static 'devops/css/simple-sidebar.css' %}" rel="stylesheet">
  <!-- jQuery library -->
  <script src={% static "devops/js/jquery.min.js" %}></script>
  <!-- Latest compiled JavaScript -->
  <script src={% static "devops/js/bootstrap.min.js" %}></script>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Classmate</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<form class="navbar-form navbar-right" method="" action="">
						<!-- <div class="form-group">
							<input type="text" placeholder="Username" class="form-control" name="username">
						</div>
						<div class="form-group">
							<input type="password" placeholder="Password" class="form-control" name="password">
						</div> -->
						<p><a class="btn btn-success" href="/login/" role="button">Sign in</a></p>
					</form>
				</div>
			</div>
		</nav>
	</div>

	<!-- Sidebar -->
	<div id="sidebar-wrapper" class="container2">
			<ul class="sidebar-nav">
					<li class="sidebar-brand">
							<a href="/">
									Start Bootstrap
							</a>
					</li>
					<li>
							<a href="/dashboard/">Dashboard</a>
					</li>
					<li>
							<a href="#">Shortcuts</a>
					</li>
					<li>
							<a href="#">Overview</a>
					</li>
					<li>
							<a href="#">Events</a>
					</li>
					<li>
							<a href="#">About</a>
					</li>
					<li>
							<a href="#">Services</a>
					</li>
					<li>
							<a href="#">Contact</a>
					</li>
			</ul>
	</div>
	<!-- /#sidebar-wrapper -->
</body>
