<!DOCTYPE html>
<html lang="en">
{% include "devops/main.html" %}
<script>
  $(function(){
    $("#search").prop("disabled", true);
    $("#filter_field").on("change", function(){
      $("#search").prop("disabled", false);
    });
  });
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <table class='table table-striped'>
        <tr>
          <th>产品</th>
          <th>ip</th>
          <th>备份结果</th>
          <th>备份时间</th>
        </tr>
        {% for record in records %}
        <tr>
          <td>{{ record.brand_bbs }}</td>
          <td>{{ record.host_ip }}</td>
          <td>{{ record.backup_result }}</td>
          <td>{{ record.backup_date }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
</html>
