<!DOCTYPE html>
<html lang="en">
{% include "devops/main.html" %}

<script type="text/javascript">
$(document).ready(function(){
  $.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});

  $("#selbrand").change(function(){
    selbrand = $("#selbrand").val();
    data = {selbrand: selbrand};

    $.ajax({
            url: "/form_interaction/",
            data: data,
            type: 'post',
            success: function(host){
              $("#selhost").empty();
              $("#selhost").append("<option>"+"请选择主机"+"</option>");
              $.each(host,function(i){
                  $("#selhost").append("<option>"+host[i]+"</option>")
                })
            }
    })
  });
});
</script>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>TOMCAT HANDLER</h1>
        <form method="POST" action="">
          {% csrf_token %}

          <div class="form-group">
            <label class="control-label" for="selbrand">Brand</label>
            <select class="form-control" id="selbrand" name="selbrand">
              {% for brand in brands %}
              <option>{{ brand }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label class="control-label" for="selhost">Host</label>
            <select class="form-control" id="selhost" name="selhost">
              <option>select brand first</option>
            </select>
            <p id="test_p"></p>
          </div>

          <div class="form-group">
            <label class="control-label" for="cmd">Command</label>
            <input type="text" class="form-control" id="cmd" placeholder="Enter cmd" name="cmd" value=''>
          </div>

          <button type="submit" class="btn btn-primary" name="run" value="Click">run</button>
        </form>
        {{ stdout }}
      </div>

    </div>
  </div>
</html>
