<!DOCTYPE html>
<html lang="en">
{% include "devops/main.html" %}

<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="jumbotron">
        <div class="container">
          <h1>Welcome to classmate Tower</h1>
          <p>此系统为GSMC内部业务管理系统</p>
          <p>最终目标是成为Makati重启Tomcat最快的系统</p>
          <p>当前版本:Version 0.2.</p>
          <p><a class="btn btn-success btn-lg" href="/dashboard" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>命名故事</h2>
            <p>Jim sir说 </p>
            <p>QueZone City有条街</p>
            <p>街道边有个他流连忘返地方叫</p>
            <h4>ClassMate</h4>
            <p><a class="btn btn-danger" href="#" role="button">No More &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>功能</h2>
            <p>批量或者指定重启业务Tomcat</p>
            <p>代码备份（待加入）</p>
            <p>代码回滚（待加入）</p>
            <p><a class="btn btn-danger" href="#" role="button">No More &raquo;</a></p>
         </div>
          <div class="col-md-4">
            <h2>作者</h2>
            <p>Zack</p>
            <p>Danny</p>
            <p></p>
            <p><a class="btn btn-danger" href="#" role="button">No More &raquo;</a></p>
          </div>
        </div>

        <hr>

        <footer>
          <p>&copy; 2016 Company, Inc.</p>
        </footer>
      </div>
    </div>
  </div>
</div>
</body>

</html>
