
<head>
	<title>classmate Tower</title>
	<meta charset="utf-8" />

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'devops/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'devops/css/dashboard.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'devops/css/customized.css' %}" />
	<!-- <link href="{% static 'devops/css/simple-sidebar.css' %}" rel="stylesheet"> -->
  <!-- jQuery library -->
  <script src={% static "devops/js/jquery.min.js" %}></script>
  <!-- Latest compiled JavaScript -->
  <script src={% static "devops/js/bootstrap.min.js" %}></script>
	<script src={% static "devops/js/custom.js" %}></script>
</head>

<body>
	<!-- <div class="container"> -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header" style="margin-left:88px">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">ClassMate Tower</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse navbar-right inline">
					{% if request.user.username %}
						<form class="navbar-form navbar-right inline" method='POST' action="/logout/">
			        {% csrf_token %}
							<a class="btn btn-primary" href="/profile/" role="button">welcome, {{ request.user.username }}</a>
			        <button type="submit" class="btn btn-danger">Logout</button>
			      </form>

					{% else %}
					<form class="navbar-form navbar-right inline">
						<p> <a class="btn btn-primary" href="/login/" role="button">Sign in</a></p>
					</form>
					{% endif %}
      </div>

    </div>
  </nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
			  <ul class="nav nav-pills nav-stacked">
					<li><a href="/home/">首页</a></li>
					<li><a href="/profile/">个人资料</a></li>
					<li><a href="/dashboard/">控制台</a></li>
					<li><a href="/record/">操作记录</a></li>
					<li><a href="/bbs_backup_record/">论坛备份记录</a></li>
					<li><a href="">代码备份回滚(开发中)</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
